@charset "UTF-8";

@media screen and (min-width: 768px) {
    span#burger {
        display: flex;
    }

    menu {
        display: flex;
    }

    menu > ul > li {
        display: flex;
    }

    main {
        width: 768px;
    }
}